.grey {
	background-color: #558188;
}

.green {
	background-color: #5FA292;
}

.orange {
	background-color: #FF9C5F;
}

.peach {
	background-color: #FF8B6C;
}

.dark-green {
	background-color: #253939;
}


